<a class="logo" href="{{site.url}}" rel="home">{{site.name}}</a>
<nav id="nav-main" class="nav-main" role="navigation">
  {% include "menu.twig" with {'menu': main_nav.get_items} %}
</nav><!-- .nav-main -->